// mixins 
@mixin titles($color) {
	color: $color;
	font-size: 5em;
    font-weight: 400;
    text-align: center;
	font-family: Roboto!important;
} 
@mixin separator($color,$bottom) {
    width: 20%;
    margin: auto;
    border-top: 1px solid $color;
    margin-bottom: $bottom;
}
@mixin palette-item($color) {
	padding: 0 5% 10%;
    background-color: $color;
    margin-bottom: 1%;
    font-weight: 400;
}
@mixin progressbar {
	height: 10px;
    border-radius: 0px;
    border: 2px solid #DCD5D5;
    background-color: #DCD5D5;
}
@mixin percent-bar($percent) {
	width: $percent;
	background-color: #E67E22;
}
@mixin parrafo($color,$align) {
	color: $color;
	text-align: $align;
	font-weight: 300;
	font-family: Roboto!important;
}
@mixin general-btn($width,$fsize) {
	background-color: $negro;
    color: white;
    margin: auto;
    width: $width;
    text-align: center;
    padding: 1% 0;
    font-size: $fsize;
    font-weight: 400;
}
@mixin seccion($padding,$color) {
	padding: $padding 0;
	background-color: $color;
}
@mixin range-price($bg-color) {
	background-color: $bg-color;
    font-size: 2em;
    color: $gris;
    font-weight: 300;
    padding: 7% 0;
}
@mixin cost {
	background-color: $green;
	font-size: 4em;
	color: white;
	font-weight: 400;
	padding: 5% 0;
}
@mixin detail-price($color,$bg-color) {
	padding: 3% 0;
	color: $color;
	font-weight: 300;
	background-color: $bg-color;
}
// placeholders
%span-h6-cost {
	font-size: 0.2em;
    font-weight: 300;
}
%mb-5 {
	margin-bottom: 5%;
}
// variables 
$green: #27AD60!important;
$azul: #2e3c50;
$negro: #443E44;
$gris: #C1C1C1;
$naranja: #8F5F38;



.navbar {
	@include seccion(0,$green);
	margin: 0!important;
    padding: 1% 0;
    border-radius: 0px!important;
}
.navbar-collapse {
    float: right;
    margin-top: 1%;
    ul {
    	li {
    		a {
    			font-family: Roboto;
                font-size: 1.1em;
                font-weight: 400;
    		}
    	}
    }
}
#hero-image {
	padding: 3% 0;
	background-position: 0% 47%;
	background-image: url("../img/carousel-bg.jpg");
    p {
    	@include parrafo(white,center);
        line-height: 1.5;
        font-size: 2.14em;
    }
    h1 {
    	@include titles(white);
    }
}
#paleta-colores {
	h1 {
		@include titles(black);
	}
	.separator {
		@include separator(black,5%);
	}
	.first-row {
		.col-md-2:first-child {
		@include palette-item(#69D2E7);
	    }
	    .col-md-2:nth-child(2) {
		@include palette-item(#A7DBDB);
	    }
	    .col-md-2:nth-child(3) {
		@include palette-item(#E0E4CC);
	    }
	    .col-md-2:nth-child(4) {
		@include palette-item(#F38630);
	    }
	    .col-md-2:last-child {
		@include palette-item(#FA6900);
	    }
	}
	.second-row {
		.col-md-2:first-child {
		@include palette-item(#E94C6F);
	    }
	    .col-md-2:nth-child(2) {
		@include palette-item(#542733);
	    }
	    .col-md-2:nth-child(3) {
		@include palette-item(#5A6A62);
	    }
	    .col-md-2:nth-child(4) {
		@include palette-item(#C6D5CD);
	    }
	    .col-md-2:last-child {
		@include palette-item(#FDF200);
	    }     
	}
	.third-row {
		.col-md-2:first-child {
		@include palette-item(#DB3340);
	    }
	    .col-md-2:nth-child(2) {
		@include palette-item(#E8B71A);
	    }
	    .col-md-2:nth-child(3) {
		@include palette-item(#F7EAC8);
	    }
	    .col-md-2:nth-child(4) {
		@include palette-item(#1FDA9A);
	    }
	    .col-md-2:last-child {
		@include palette-item(#28ABE3);
	    }
	}
	.fourth-row {
        .col-md-2:first-child {
		@include palette-item(#588C73);
	    }
	    .col-md-2:nth-child(2) {
		@include palette-item(#F2E394);
	    }
	    .col-md-2:nth-child(3) {
		@include palette-item(#F2AE72);
	    }
	    .col-md-2:nth-child(4) {
		@include palette-item(#D96459);
	    }
	    .col-md-2:last-child {
		@include palette-item(#8C4646);
	    }
	}
	.fifth-row {
        .col-md-2:first-child {
		@include palette-item(#D0C91F);
	    }
	    .col-md-2:nth-child(2) {
		@include palette-item(#85C4B9);
	    }
	    .col-md-2:nth-child(3) {
		@include palette-item(#008BBA);
	    }
	    .col-md-2:nth-child(4) {
		@include palette-item(#DF514C);
	    }
	    .col-md-2:last-child {
		@include palette-item(#DC403B);
	    }
	}
}
#about-us {
	box-shadow: 0px -3px 16px #6b7279;
	@include seccion (10%,$azul);
	h1 {
		@include titles(white);
	}
	.separator {
		@include separator(white,1%);
	}
	p:first-child,
	p:nth-child(2) {
		@include parrafo(white,left);
	}
	p:nth-child(2){
		margin-bottom: 12%;
	}
	p:nth-child(4),
	p:nth-child(6),
	p:nth-child(8),
	p:nth-child(10),
	p:last-child {
		@include parrafo(white,left);
		margin-top: -2%;
	}
	.progress {
		
		@include progressbar;
		.progress-bar:first-child {
			@include percent-bar(95%)
		}
		.progress-bar:nth-child(2) {
			@include percent-bar(90%)
		}
		.progress-bar:nth-child(3) {
			@include percent-bar(65%)
		}
		.progress-bar:nth-child(4) {
			@include percent-bar(70%)
		}
		.progress-bar:last-child {
			@include percent-bar(85%)
		} 
	}
	.img-responsive {
		img {
			width: 100%;
		}
	}
}
#do {
	@include seccion(10%,$green);
	h1 {
		@include titles(white);
	}
	.separator {
		@include separator(white,1%);
	}
	p {
		@include parrafo(white,center);
	}
	.col-md-4 {
		.do-item {
			margin: 15% 0 0;
			padding: 5% 0 0;
			text-align: center;
			& > p {
				font-size: 2.4em;
                margin-top: 5%;
                @include parrafo(white,center);	
			}
			.parrafo-do {
			    width: 95%;
			    padding: 7%;
			    margin: auto;
			    p {
			    	font-size: 1.18em;
			    	@include parrafo($gris, center);
			    }			
			}
			.bg-degrad {
				width: 45%;
			    background-size: 100%;
			    background-image: url("../img/icon-bg.png");
			    background-color: #2C3E50;
			    margin: auto;
			    padding: 7% 0;
			}
		}
	}
	.general-btn {
		margin-top: 10%;
		@include general-btn(16%,1.5em);
	}
}
#awesome-team {
	@include seccion(12%,$green);
	h1 {
		@include titles(white);
	}
	.separator {
		@include separator(white,1%);
	}
	p {
		@include parrafo(white,center);
	}
	.person-team {
		margin-top: 30%;
		text-align: center;
		color: white;		
		.avatar-team {
			margin: 10% 24%;
		    padding: 27%;
		    background-position: 72%;
		    background-size: 130% 130%;
		    background-image: url("../img/team/1.jpg");
		}
		h4 {
			@include parrafo(white,center);
		}
		h6 {
			font-weight: 600!important;
			@include parrafo($negro,center);
		}
		.separator {
			@include separator(#9E968F,5%);
			border-top-style: dashed;
			width: 100%!important;
		}
		p {
			@include parrafo($gris,center);
		}
		i {
			color: $gris;
			font-size: 1.5em;
            margin: 4% 2% 0;
		}
	}
}
#price {
	@include seccion(10%,$azul);
	h1 {
		@include titles(white);
	}
	.separator {
		@include separator(white,1%);
	}
	p {
		@include parrafo(white,center);
	}
	.col-md-3 {
		.price-box {
			border: 1px solid $green;			
			text-align: center;
			margin-top: 25%;
			.range-orange {
				@include range-price($naranja);
			}
			.range {
				@include range-price(transparent);				
			}
			.cost {
				@include cost;
				span,
				h6 {
					@extend %span-h6-cost;
				}
			}
			.first-detail {
				@include detail-price($gris,$naranja);
			}
			.detail-trans {
				@include detail-price($gris,transparent);
			}
			.detail-bg {
				@include detail-price($azul,white);
			}
			.general-btn {
				@include general-btn(37%,1.5em);
				padding: 3% 0;
				margin-top: 15%;
				margin-bottom: 15%;
			}
		}
	}
}
#our-clients {
	@include seccion(10%,$azul);
	h1 {
		@include titles(white);
	}
	.separator {
		@include separator(white,1%);
	}
	.first-row {
		& > p {
			@extend %mb-5;
		}
	}
	p {
		@include parrafo(white,center);
	}
	.client-say {
		font-size: 1.4em;
		p {
			font-style: oblique;
			@include parrafo($gris,center);
	    }
	    h5 {
	    	@extend %mb-5;
	    	font-size: 1em;
	    	font-weight: 500!important;
	    	@include parrafo($naranja,center);
	    }
	}
}