.navbar {
  background-color: #27AD60 !important;
  margin: 0 !important;
  padding: 1% 0;
  border-radius: 0px !important; }

.navbar-collapse {
  float: right;
  margin-top: 1%; }
  .navbar-collapse ul li a {
    font-family: Roboto;
    font-size: 1.1em;
    font-weight: 400; }

#hero-image {
  padding: 3% 0;
  background-position: 0% 47%;
  background-image: url("../img/carousel-bg.jpg"); }
  #hero-image p {
    text-align: center;
    color: white;
    font-family: Roboto !important; }
  #hero-image h1 {
    color: white;
    font-size: 5em;
    font-weight: 400;
    text-align: center;
    font-family: Roboto !important; }
  #hero-image p {
    font-weight: 300;
    line-height: 1.5;
    font-size: 2.14em; }

#paleta-colores h1 {
  color: black;
  font-size: 5em;
  font-weight: 400;
  text-align: center;
  font-family: Roboto !important; }
#paleta-colores .separator {
  width: 20%;
  margin: auto;
  border-top: 1px solid black;
  margin-bottom: 5%; }
#paleta-colores .first-row .col-md-2:first-child {
  padding: 0 5% 10%;
  background-color: #69D2E7;
  margin-bottom: 1%;
  font-weight: 400; }
#paleta-colores .first-row .col-md-2:nth-child(2) {
  padding: 0 5% 10%;
  background-color: #A7DBDB;
  margin-bottom: 1%;
  font-weight: 400; }
#paleta-colores .first-row .col-md-2:nth-child(3) {
  padding: 0 5% 10%;
  background-color: #E0E4CC;
  margin-bottom: 1%;
  font-weight: 400; }
#paleta-colores .first-row .col-md-2:nth-child(4) {
  padding: 0 5% 10%;
  background-color: #F38630;
  margin-bottom: 1%;
  font-weight: 400; }
#paleta-colores .first-row .col-md-2:last-child {
  padding: 0 5% 10%;
  background-color: #FA6900;
  margin-bottom: 1%;
  font-weight: 400; }
#paleta-colores .second-row .col-md-2:first-child {
  padding: 0 5% 10%;
  background-color: #E94C6F;
  margin-bottom: 1%;
  font-weight: 400; }
#paleta-colores .second-row .col-md-2:nth-child(2) {
  padding: 0 5% 10%;
  background-color: #542733;
  margin-bottom: 1%;
  font-weight: 400; }
#paleta-colores .second-row .col-md-2:nth-child(3) {
  padding: 0 5% 10%;
  background-color: #5A6A62;
  margin-bottom: 1%;
  font-weight: 400; }
#paleta-colores .second-row .col-md-2:nth-child(4) {
  padding: 0 5% 10%;
  background-color: #C6D5CD;
  margin-bottom: 1%;
  font-weight: 400; }
#paleta-colores .second-row .col-md-2:last-child {
  padding: 0 5% 10%;
  background-color: #FDF200;
  margin-bottom: 1%;
  font-weight: 400; }
#paleta-colores .third-row .col-md-2:first-child {
  padding: 0 5% 10%;
  background-color: #DB3340;
  margin-bottom: 1%;
  font-weight: 400; }
#paleta-colores .third-row .col-md-2:nth-child(2) {
  padding: 0 5% 10%;
  background-color: #E8B71A;
  margin-bottom: 1%;
  font-weight: 400; }
#paleta-colores .third-row .col-md-2:nth-child(3) {
  padding: 0 5% 10%;
  background-color: #F7EAC8;
  margin-bottom: 1%;
  font-weight: 400; }
#paleta-colores .third-row .col-md-2:nth-child(4) {
  padding: 0 5% 10%;
  background-color: #1FDA9A;
  margin-bottom: 1%;
  font-weight: 400; }
#paleta-colores .third-row .col-md-2:last-child {
  padding: 0 5% 10%;
  background-color: #28ABE3;
  margin-bottom: 1%;
  font-weight: 400; }
#paleta-colores .fourth-row .col-md-2:first-child {
  padding: 0 5% 10%;
  background-color: #588C73;
  margin-bottom: 1%;
  font-weight: 400; }
#paleta-colores .fourth-row .col-md-2:nth-child(2) {
  padding: 0 5% 10%;
  background-color: #F2E394;
  margin-bottom: 1%;
  font-weight: 400; }
#paleta-colores .fourth-row .col-md-2:nth-child(3) {
  padding: 0 5% 10%;
  background-color: #F2AE72;
  margin-bottom: 1%;
  font-weight: 400; }
#paleta-colores .fourth-row .col-md-2:nth-child(4) {
  padding: 0 5% 10%;
  background-color: #D96459;
  margin-bottom: 1%;
  font-weight: 400; }
#paleta-colores .fourth-row .col-md-2:last-child {
  padding: 0 5% 10%;
  background-color: #8C4646;
  margin-bottom: 1%;
  font-weight: 400; }
#paleta-colores .fifth-row .col-md-2:first-child {
  padding: 0 5% 10%;
  background-color: #D0C91F;
  margin-bottom: 1%;
  font-weight: 400; }
#paleta-colores .fifth-row .col-md-2:nth-child(2) {
  padding: 0 5% 10%;
  background-color: #85C4B9;
  margin-bottom: 1%;
  font-weight: 400; }
#paleta-colores .fifth-row .col-md-2:nth-child(3) {
  padding: 0 5% 10%;
  background-color: #008BBA;
  margin-bottom: 1%;
  font-weight: 400; }
#paleta-colores .fifth-row .col-md-2:nth-child(4) {
  padding: 0 5% 10%;
  background-color: #DF514C;
  margin-bottom: 1%;
  font-weight: 400; }
#paleta-colores .fifth-row .col-md-2:last-child {
  padding: 0 5% 10%;
  background-color: #DC403B;
  margin-bottom: 1%;
  font-weight: 400; }

#about-us {
  box-shadow: 0px -3px 16px #6b7279;
  background-color: #2e3c50; }
  #about-us h1 {
    margin-top: 10%;
    color: white;
    font-size: 5em;
    font-weight: 400;
    text-align: center;
    font-family: Roboto !important; }
  #about-us .separator {
    width: 20%;
    margin: auto;
    border-top: 1px solid white;
    margin-bottom: 5%; }
  #about-us p {
    color: white;
    font-weight: 300; }
  #about-us .progress {
    height: 10px;
    border-radius: 0px;
    border: 2px solid #DCD5D5;
    background-color: #DCD5D5; }
    #about-us .progress .progress-bar:first-child {
      width: 95%;
      background-color: #E67E22; }
    #about-us .progress .progress-bar:nth-child(2) {
      width: 95%;
      background-color: #E67E22; }
    #about-us .progress .progress-bar:nth-child(3) {
      width: 95%;
      background-color: #E67E22; }
    #about-us .progress .progress-bar:nth-child(4) {
      width: 95%;
      background-color: #E67E22; }
    #about-us .progress .progress-bar:last-child {
      width: 95%;
      background-color: #E67E22; }

/*# sourceMappingURL=main.css.map */
